/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.search {
    margin-bottom: auto;
    margin-top: auto;
    height: 70px;
    background-color: lightgray;  /* search box background */
    border-radius: 40px;
    padding: 10px
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear
}

.search .search_input {
    padding: 0 10px;
    width: 550px;
    caret-color: black;
    transition: width 0.4s linear
}

.search:hover>.search_icon {
    background: darkorange;
    color: white
}

.search_icon {
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    background-color: black
}

a:link {
    text-decoration: none
}

.bg-logo {
    background-color:#0055a5
}

body {
    font-family: 'Manrope', sans-serif !important;
}

.clickable-card:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: #ffc107;
}

.instf-listing-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center!important;
}

.instf-listing-card-price {
    font-size: 1.5rem;
    font-weight: 600;
    color: #565959;
    line-height: 1.2;
    text-align: center!important;
}

.instf-listing-detail-header {
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center!important;
}

.instf-listing-detail-description {
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
    color: #565959;
    line-height: 1.2;
    text-align: center!important;
}

.instf-listing-detail-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: left!important;
}

.instf-listing-detail-content {
    font-size: 1.0rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: left!important;
}

.instf-listing-edit-title-left {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left!important;
}

.instf-listing-edit-title-center {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center!important;
}
